{%extends 'base.html'%}
{% load static%}
{% block content %}
{{ block.super }}
 <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Flags</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Flags</li>
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>
  <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-header">
                <h3 class="card-title">Table below shows flagged users.</h3>
                <button class="btn btn-sm btn-success float-md-right"  data-toggle="modal" data-target="#modal-date-range">
                    <i class="mr-1 fas fa-search"></i>
                    Filter by Date Registered
                  </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Time</th>
                        <th>Details</th>
                        <th>Flagged By</th>
                        <th>Active</th>
                        {% if request.user.is_admin or request.user.is_superuser %}
                        <th>Erase</th>
                        {%endif%}
                    </tr>
                    </thead>
                    <tbody>
                        {%for flag in flags %}
                            <tr>
                                <td>
                                    <a href="/user/{{flag.user.id}}">
                                    {{ flag.user.name | title }}
                                    </a>
                                </td>
                                <td>{{ flag.created_at | date:'H:i,d M Y'   }}</td>
                                <td>
                                    <small>
                                        {{ flag.description }}
                                    </small>
                                </td>
                                <td>
                                    <a href="/user/{{flag.reported_by.id}}">
                                    {{ flag.reported_by.name | title }}
                                    </a>
                                </td>
                                <td>
                                    {{ flag.flagged|yesno:"Yes,No,No" }}
                                </td>
                                {% if request.user.is_admin or request.user.is_superuser %}
                                <td>
                                    {% if flag.flagged %}
                                    <a href="{% url 'eraseflag' flag.id %}" class="mr-2">
                                        <i class="fas fa-eraser text-success"></i>
                                    </a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                {%endif%}
                            </tr>
                        {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>User</th>
                            <th>Time</th>
                            <th>Details</th>
                            <th>Flagged By</th>
                            <th>Active</th>
                            {% if request.user.is_admin or request.user.is_superuser %}
                            <th>Erase</th>
                            {%endif%}
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        </div><!-- Main content -->
    </section>
    {% include 'partials/_dateRange.html' %}
  {%endblock%}