{%extends 'base.html'%}

{% block content %}
{{ block.super }}
 <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Unverified Vehicles</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Unverified Vehicles</li>
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>
  <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-header">
                <h3 class="card-title">Table below shows all unverified vehicles</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Reg. No.</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Owner</th>
                    <th>Unit</th>
                    <th>Image</th>
                    <th>Logbook No.</th>
                    <th>Logbook Img</th>
                    <th>Approve</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                     {% for vehicle in vehicles %}
                        <tr>
                            <td>{{ vehicle.reg_no | upper}}</td>
                            <td>{{ vehicle.make}}</td>
                            <td>{{ vehicle.model}}</td>
                            <td>
                                <a href="{% url 'user' vehicle.user.id %}">
                                         {{ vehicle.user}}
                                </a>
                            </td>
                            <td>{{ vehicle.user.unit}}</td>
                            <td class="text-center ">
                                <a href="#" data-toggle="modal" data-target="#modal-veh-{{vehicle.id}}">
                                    <i class="fas fa-eye text-info"></i>
                                </a>
                            </td>
                            <td>{{ vehicle.logbook_no}}</td>
                            <td class="text-center ">
                                <a href="#" data-toggle="modal" data-target="#modal-log-{{vehicle.id}}">
                                    <i class="fas fa-eye text-info"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{% url 'approvevehicle' vehicle.id %}">
                                    <i class="fas fa-thumbs-up text-success"></i>
                                </a> 
                            </td>
                            <td class=" text-center" onclick="return confirm('Are you sure you want to delete this item?');">
                                <a href="#">
                                    <i class="fas fa-trash text-danger"></i>
                                </a> 
                            </td>
                            
                            {% include 'vehicles/_modalLogbookImg.html' %}
                            {% include 'vehicles/_modalVehicleImage.html' %}
                        </tr>
                     {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Reg. No.</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Owner</th>
                            <th>Unit</th>
                            <th>Image</th>
                            <th>Logbook No.</th>
                            <th>Logbook Img</th>
                            <th>Approve</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        </div><!-- Main content -->
    </section>
  {%endblock%}