<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-item has-treeview menu-open">
        <a href="/" class="nav-link active">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Dashboard
            <!-- <i class="right fas fa-angle-left"></i> -->
          </p>
        </a>
      </li>
      <!-- users -->
      {% if request.user.is_admin or request.user.is_superuser %}
      <li class="nav-item has-treeview">
        <a href="{% url 'customers' %}" class="nav-link">
          <i class="nav-icon fas fa-users"></i>
          <p>
            Customers
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
          <li class="nav-item">
            <a href="{% url 'customers' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-success"></i>
              <p>Customers</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'newapplications' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-info"></i>
              <p>New Applications</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'lockusers' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-warning"></i>
              <p>Locked</p>
            </a>
          </li>
          
        </ul>
      </li>
      {%endif%}
      <!-- /users -->

       <!-- vehicles -->
       <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-car"></i>
          <p>
            Vehicles
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
          <li class="nav-item">
            <a href="{% url 'verifiedvehicles'%}" class="nav-link">
              <i class="far fa-circle nav-icon text-success"></i>
              <p>Verified</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'unverifiedvehicles' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-info"></i>
              <p>Unverified</p>
            </a>
          </li>
          
        </ul>
      </li>
      <!-- /vehicles -->

      <!-- fuel point -->
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-gas-pump"></i>
          <p>
            Fuel Point
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
          
          <li class="nav-item">
            <a href="{% url 'stations' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-info"></i>
              <p>Fuel Stations</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="{% url 'replenishments' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-info"></i>
              <p>Replenishment</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'transactions' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-info"></i>
              <p>Fueling Transactions</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dailyrecords' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-info"></i>
              <p>Daily Records</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'getattendants' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-info"></i>
              <p>Attendants</p>
            </a>
          </li>
        </ul>
      </li>
      <!-- / fuel point -->

      <!-- reviews  -->
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-comments"></i>
          <p>
            Reviews
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
          <li class="nav-item">
            <a href="{% url 'getreviews' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-info"></i>
              <p>All</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'getspecificreviews' 'complaint' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-danger"></i>
              <p>Complains</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'getspecificreviews' 'comment' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-warning"></i>
              <p>Comments</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'getspecificreviews' 'recommendation' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-success"></i>
              <p>Recommendations</p>
            </a>
          </li>
        </ul>
      </li>
      <!-- / reviews  -->

      <!-- flags -->
      <li class="nav-item has-treeview">
        <a href="{% url 'listflags' %}" class="nav-link">
          <i class="nav-icon fas fa-flag"></i>
          <p>
            Flags
            <!-- <i class="right fas fa-angle-left"></i> -->
          </p>
        </a>
        </li>
      <!-- / flags -->
    </ul>
  </nav>