<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-item has-treeview menu-open">
        <a href="/" class="nav-link active">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Dashboard
            <!-- <i class="right fas fa-angle-left"></i> -->
          </p>
        </a>
      </li>
      <!-- users -->
      <li class="nav-item has-treeview">
        <a href="/customers" class="nav-link">
          <i class="nav-icon fas fa-users"></i>
          <p>
            Customers
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
          <li class="nav-item">
            <a href="/customers" class="nav-link">
              <i class="far fa-circle nav-icon text-success"></i>
              <p>Customers</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/newapplications" class="nav-link">
              <i class="far fa-circle nav-icon text-info"></i>
              <p>New Applications</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'lockusers' %}" class="nav-link">
              <i class="far fa-circle nav-icon text-warning"></i>
              <p>Locked</p>
            </a>
          </li>
          
        </ul>
      </li>
      <!-- /users -->

       <!-- vehicles -->
       <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-car"></i>
          <p>
            Vehicles
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon text-success"></i>
              <p>Registered</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon text-info"></i>
              <p>Unregistered</p>
            </a>
          </li>
          
        </ul>
      </li>
      <!-- /vehicles -->
    </ul>
  </nav>