{%extends 'base.html'%}

{% block content %}
{{ block.super }}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
  
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{stations}}</h3>

            <p>Fuels Points</p>
          </div>
          <div class="icon">
            <i class="nav-icon fas fa-gas-pump"></i>
          </div>
          <a href="{% url 'stations' %}" class="small-box-footer">View operating Fuel Stations <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>150</h3>

            <p>New Orders</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Bounce Rate</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>Verify Vehicle</h3>

            <p>
              <div class="icon">
                <i class="ion ion-search"></i>
              </div>
              <button class="btn btn-sm btn-success mx-auto d-block"   data-toggle="modal" data-target="#modal-verify">
                <i class="fas fa-search ml-1"></i>
              </button>
              {% include 'partials/_verifyVehicle.html' %}
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-search-outline"></i>
          </div>
          <a href="#" class="small-box-footer"  data-toggle="modal" data-target="#modal-search-records">Recent Search<i class="fas fa-history ml-2"></i></a>

          {% include 'partials/_searchRecords.html' %}
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}