{%extends 'base.html'%}

{% block content %}
{{ block.super }}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
  
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{stations}}</h3>

            <p>Open Fuels Points</p>
          </div>
          <div class="icon">
            <i class="nav-icon fas fa-gas-pump"></i>
          </div>
          <a href="{% url 'stations' %}" class="small-box-footer">Fuel Stations <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">

            <h3>{{petroleum.price}}</h3>

            <p>Petroleum cost per litre (Ksh)</p>
          </div>
          <div class="icon">
            <i class="nav-icon fas fa-coins"></i>
          </div>
          <a href="{% url 'addprice' %}" class="small-box-footer">Update price <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-secondary">
          <div class="inner">

            <h3>{{diesel.price}}</h3>

            <p>Diesel cost per litre (Ksh)</p>
          </div>
          <div class="icon">
            <i class="nav-icon fas fa-coins"></i>
          </div>
          <a href="{% url 'addprice' %}" class="small-box-footer">Update price <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{flags}}
              <!-- <sup style="font-size: 20px">Active Flags</sup> -->
            </h3>

            <p>Active Flagged Users</p>
          </div>
          <div class="icon">
            <!-- <i class="ion ion-stats-bars"></i> -->
            <i class="fas fa-flag"></i>
          </div>
          <a href="{% url 'listflags' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
              <h3><i class="fas fa-search ml-1" style="cursor: pointer;"   data-toggle="modal" data-target="#modal-verify"></i></h3>
              <p>
                Verify Vehicle
              </p>
          </div>
          <div class="icon">
            <i class="ion ion-search"></i>
          </div>
          
          {% include 'partials/_verifyVehicle.html' %}
        
          <a href="#" class="small-box-footer"  data-toggle="modal" data-target="#modal-search-records">Recent Search<i class="fas fa-history ml-2"></i></a>

          {% include 'partials/_searchRecords.html' %}
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}