{%extends 'base.html'%}

{% block content %}
{{ block.super }}
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Locked Customers</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Locked Customers</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
<section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Table below shows all Locked Customers</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Service No.</th>
                <th>Username</th>
                <th>Unit</th>
               
                <th>Joined</th>
                <th>Unlock</th>
              </tr>
              </thead>
              <tbody>
                  {%for user in users%}
                    <tr>
                        <td>{{ user.rank | title }}</td>
                        <td>{{ user.name | title}}</td>
                        <td>{{ user.svc_no }}</td>
                        <td>
                            <a href="/user/{{user.id}}">
                                {{ user.username | title}}
                            </a>
                        </td>
                        <td>{{ user.unit | title }}</td>
                        
                       
                        <td >
                            {{ user.date_joined | date:"d M Y"}}
                        </td>
                        <td class="text-center">
                          <a href="{% url 'unlock' user.id %}"  onclick="return confirm('Are you sure you want to unlock this account?');">
                            <i class="fas fa-lock-open text-success"></i>
                          </a>
                        </td>
                    </tr>
                  {%endfor%}
                </tbody>
                <tfoot>
                    <tr>
                      <th>Rank</th>
                      <th>Name</th>
                      <th>Service No.</th>
                      <th>Username</th>
                      <th>Unit</th>
                     
                      <th>Joined</th>
                      <th>Unlock</th>
                      </tr>
                </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div><!-- Main content -->
</section>
  {%endblock%}