{%extends 'base.html'%}

{% load static %}

{% block content %}
{{ block.super }}
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" src="{% static 'images/avatar.png' %}" alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">
                    {{ user.rank | title}} &nbsp;
                    {{ user.name | title}}
                </h3>

                <p class="text-muted text-center">{{user.unit}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <i class="fas fa-id-card mr-1"></i>
                    <b>Service No.</b> <a class="float-right">{{ user.svc_no }}</a>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-user mr-1"></i>
                    <b>Username</b> <a class="float-right">{{ user.username }}</a>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-envelope mr-1"></i>
                    <b>Email</b> <a class="float-right">{{ user.email }}</a>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-phone mr-1"></i>
                    <b>Mobile</b> <a class="float-right">{{ user.mobile }}</a>
                  </li>

                  <!-- <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">13,287</a>
                  </li> -->
                </ul>
                {% if request.user.id == user.id %}
                <a href="{% url 'editprofile' user.id%}" class="btn btn-sm btn-warning btn-block">
                    <b>Edit</b>
                    <i class="fas fa-edit"></i>
                </a>
                {% endif %}
                <ul class="list-group list-group-unbordered mb-3">
                    <!-- <li class="list-group-item">
                        <i class="fas fa-book mr-1"></i>
                      <b>Card No.</b> <a class="float-right">#</a>
                    </li> -->
                    <li class="list-group-item">
                        <i class="fas fa-book mr-1"></i>
                      <b>Card No.</b> <a class="float-right">#</a>
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-clock mr-1"></i>
                      <b>Date Registered</b> <a class="float-right">#</a>
                    </li>
  
                    <!-- <li class="list-group-item">
                      <b>Friends</b> <a class="float-right">13,287</a>
                    </li> -->
                  </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
      </div>
    </div><!-- Main content -->
</section>
  {%endblock%}