{%extends 'base.html'%}

{% block content %}
{{ block.super }}
 <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Fuel Reviews</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Fuel Reviews</li>
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>
  <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-header">
                <h3 class="card-title">Table below shows fuel reviews.</h3>
              
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Review</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for review in reviews%}
                            <tr>
                                <td> 
                                <!-- card -->
                                <div class="card card-secondarry bg-light collapsed-card">
                                        <div class="card-header">
                                           
                                            <div class="card-title">
                                                {% if review.review_type == 'complaint' %}
                                                    <i class="nav-icon fas fa-comment text-danger mr-2"></i>
                                                {% elif review.review_type == 'comment'  %}
                                                    <i class="nav-icon fas fa-comment text-warning mr-2"></i>
                                                {% else %}
                                                    <i class="nav-icon fas fa-comment text-success mr-2"></i>
                                                {% endif %}

                                                {{ review.review_type | title}} | &nbsp;
                                                <i class="nav-icon fas fa-gas-pump mr-1"></i>
                                                {{ review.transaction.station }} | &nbsp;
                                                <i class="nav-icon fas fa-clock mr-1"></i>
                                                Service date:{{review.transaction.date| date:"d/m/Y"}} | 
                                                <i class="nav-icon fas fa-file mr-1"></i>
                                                Batch No.: {{ review.transaction.batch_no }}

                                                <!-- new badge -->
                                                <div class="float-right ml-2">
                                                    <span class="right badge badge-danger">Unread</span>
                                                </div>
                                            </div>
                                           
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        
                                        <div class="card-body" style="display: none;">
                                            <!-- blockquote -->
                                            <blockquote class="quote-secondary">
                                                <p>{{ review.description }}</p>
                                                <small>
                                                    {% if review.reveal_id %}
                                                        <a href="{% url 'user' review.user.id %}">
                                                            <cite title="Source Title">- {{ review.user.rank }} {{review.user.name | title}}</cite>
                                                        </a>
                                                    {% else %}
                                                        <cite title="Source Title">- Anonymous</cite>
                                                    {% endif %}
                                                    <br>
                                                    <i class="fas fa-clock mr-1"></i>
                                                    {{review.created_at| date:'H:i, d/m/Y'}}
                                                </small>
                                            </blockquote>
                                            <!-- / blockquote -->
                                        </div>
                                    
                                    </div>
                                  <!-- / card -->
                                </td> 
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        </div><!-- Main content -->
    </section>
  {%endblock%}