<!-- Modal -->

<div class="modal fade" id="modal-verify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-title-sm" id="exampleModalLabel">Verify Vehicle </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'verifyvehicle' %}" method="POST">
                {% csrf_token %} 
                <div class="form-group">
                    <input name="vehicle" type="text" class="form-control form-control-sm" placeholder="Enter Reg No, e.g. KCZ 987K" required>
                </div>
                <button type="submit" class="btn btn-sm btn-success btn-block">Search </button>
            </form>
            
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>