{%extends 'base.html'%}

{% block content %}
{{ block.super }}
 <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Fuel Transactions</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Fuel Transactions</li>
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>
  <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-header">
                <h3 class="card-title">Table below shows fuel transactions</h3>
                <div class="float-right mx-3">
                    {% if request.user.is_superuser or request.user.is_admin %}
                    <a class="btn btn-success btn-sm" href="{% url 'addtransaction' %}">
                         Add Transaction
                        <i class="fas fa-plus-circle"></i>
                    </a> 
                    {% endif %}
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Reg No.</th>
                        <th>Litres(l)</th>
                        <th>Amount(Ksh)</th>
                        <th>Station</th>
                        <th>Batch No</th>
                        <th>Veh. Owner</th>
                        <th>Attendant</th>
                        <th>Payment Mode</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.vehicle }}</td>
                                <td>{{ transaction.litres }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.station }}</td>
                                <td>{{ transaction.batch_no }}</td>
                                <td>
                                    <a href="{% url 'user'  transaction.vehicle.user.id %}">
                                        {{ transaction.vehicle.user }}
                                    </a>
                                </td>
                                <td>#</td>
                                <td>{{ transaction.payment_mode }}</td>
                                <td>
                                    <small>
                                        {{ transaction.date  | date:"d M Y @ H:i" }}
                                    </small>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'edittransaction' transaction.id %}">
                                        <i class="fas fa-edit text-warning"></i>
                                    </a>
                                    /
                                    <a href="#" class="ml-1"   onclick="return confirm('Are you sure you want to delete this item?');">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </td>
                                
                            </tr>
                        {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Reg No.</th>
                            <th>Litres(l)</th>
                            <th>Amount(Ksh)</th>
                            <th>Station</th>
                            <th>Batch No</th>
                            <th>Veh. Owner</th>
                            <th>Attendant</th>
                            <th>Payment Mode</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        </div><!-- Main content -->
    </section>
  {%endblock%}